/* Diseño para Todas las Páginas */

*, *:before, *:after {

    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

html{

    width: 100%;

}

body{

    background-color: #ff9800;
    width: 100vw;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    line-height: normal;

}

img {

    max-width: 100%;

}

a{

    text-decoration: none;

}

/* Correción de colores de todas las páginas */
.header__box--logo h1,
.nav__ulist__item__a,
.section__presentation__f h1,
.section__presentation__2__s h1,
.section__presentation__3__t h1,
.box__section__product__1 h2,
.box__section__product__2 h2,
.box__section__product__3 h2,
.box__section__product__4 h2,
.box__section__product__5 h2,
.box__section__product__6 h2,
.box__section__product__1 h4,
.box__section__product__2 h4,
.box__section__product__3 h4,
.box__section__product__4 h4,
.box__section__product__5 h4,
.box__section__product__6 h4,
.box__section__us__0,
.box__section__us a,
.box__section__us__1 p,
.box__section__us__2 p,
.box__section__us__3 p,
.box__section__us__4 p,
.box__section__location,
.box__section__location__subtitle,
.box__section__contact,
.box__section__info,
.check__2 label a,
.footer__ul--leg li a,
.footer--leg1, 
.footer--leg2 {

    color: #000000;
    line-height: normal;

}

.grid-index{

    display: grid;
    width: 100vw;
    height: 100vh;
    grid: 1fr 2fr 1fr / 1fr;
    grid-template-areas: 
    "header"
    "content-0"
    "footer";

}

.header{

    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f57c00;
    width: 100vw;
    box-shadow: 5px 0 10px #f57c00;
    z-index: 2;

}

.header__box--logo{

    display: flex;
    padding-left: 10px;

}

.header__box--logo img{

    width: 5rem;
    
}

.header__box--logo h1{

    align-self: center;
    font-size: 1.5rem;
    font-weight: 1000;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 0;
    padding-left: 10px;

}

.header__nav{

    font-family: 'Bebas Neue', cursive;
    padding-right: 130px;

}

#check-nav{

    display: none;

} 

.nav__btn{

    display: none;
    position: relative;
    font-size: 1.7rem;
    cursor: pointer;

}

.nav__ulist{

    font-size: 0;
    padding: 0;
    margin: 0;

}

.nav__ulist__item{

    display: inline-block;

}

.nav__ulist__item__a{

    font-size: 1.2rem;   
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;

}

.nav__ulist__item__a:hover{

    background-color: #ff9800;
    color: #ffffff;
    transition: .3s;

}

.header__box--btn{

    align-self: center;

}

.header__btn{

    font-size: 2rem;
    cursor: pointer;
    padding-right: 25px;

}

/* Fin del Diseño para Todas las Páginas */




/* Diseño de la Pagina Principal */

.grid-presentation{

    grid-area: content-0;
    display: grid;
    grid: repeat(3, 2fr) / 1fr 1fr;
    grid-template-areas: 
    "content0 content1"
    "content2 content3"
    "content4 content5";

}

.section__presentation{

    grid-area: content0;
    display: flex;
    background-image: url("../assets/imagenes/presentacion.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50vw 100%;
    width: 50vw;
    height: 35.2rem;

}

.section__presentation__f{

    grid-area: content1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;

}

.section__presentation__f h1{

    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;

}

.section__presentation__f__subtitle{

    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;

}

.section__presentation__2__s{

    grid-area: content2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;

}

.section__presentation__2__s h1{

    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;

}

.section__presentation__2__s h2{

    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;

}

.section__presentation__2{

    grid-area: content3;
    display: flex;
    background-image: url("../assets/imagenes/suadero.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50vw 100%;
    width: 50vw;
    height: 35.2rem;

}

.section__presentation__3{

    grid-area: content4;
    background-image: url("../assets/imagenes/pastor.jpg");
    background-repeat: no-repeat;
    background-size: 50vw 100%;
    background-attachment: fixed;
    width: 50vw;
    height: 35.2rem;

}

.section__presentation__3__t{

    grid-area: content5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;

}

.section__presentation__3__t h1{

    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;

}

.section__presentation__3__t h2{

    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;

}

.section__presentation__f__subtitle__a{

    color: #00098a;
    text-decoration: none;

}

/* Fin del Diseño de la Página Principal */




/* Diseño de Página de Productos.html */

.grid-product{

    display: grid;
    width: 100vw;
    height: 100vh;
    grid: 1fr 2fr 1fr/ 1fr;
    grid-template-areas: 
    "header"
    "content0"
    "footer";

}

.section__product{

    grid-area: content0;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.box__section__product{

    display: grid;
    grid: .5fr 2fr 1fr 2fr / repeat(3, 1fr);
    grid-template-areas:
    "tit  tit  tit" 
    "pro1 pro2 pro3"
    ".    .    ."
    "pro4 pro5 pro6";
    padding: 50px 0;
    column-gap: 8rem;

}

.box__section__product__title{

    grid-area: tit;
    justify-self: center;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;

}

.box__section__product__1{

    grid-area: pro1;
    background-color: #f57c00;
    box-shadow: 0 0 20px #f57c00;
    border-radius: 2rem;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.box__section__product__1 img,
.box__section__product__2 img,
.box__section__product__3 img,
.box__section__product__4 img,
.box__section__product__5 img,
.box__section__product__6 img {

    width: 300px;
    height: 200px;

}

.box__section__product__1 h2,
.box__section__product__2 h2,
.box__section__product__3 h2,
.box__section__product__4 h2, 
.box__section__product__5 h2, 
.box__section__product__6 h2 {

    font-size: 2.4rem;
    font-family: 'Bebas Neue', cursive;
    padding: 10px 0 15px;

}

.box__section__product__1 h3,
.box__section__product__2 h3,
.box__section__product__3 h3,
.box__section__product__4 h3,
.box__section__product__5 h3,
.box__section__product__6 h3 {

    color: #000000;
    font-size: 1.2rem;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding: 0 11px 20px;

}

.box__section__product__1 h4,
.box__section__product__2 h4,
.box__section__product__3 h4,
.box__section__product__4 h4,
.box__section__product__5 h4,
.box__section__product__6 h4 {

    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    text-align: center;

}

.box__section__product__2{

    grid-area: pro2;
    background-color: #f57c00;
    box-shadow: 0 0 20px #f57c00;
    border-radius: 2rem;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.box__section__product__3{

    grid-area: pro3;
    background-color: #f57c00;
    box-shadow: 0 0 20px #f57c00;
    border-radius: 2rem;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.box__section__product__4{

    grid-area: pro4;
    background-color: #f57c00;
    box-shadow: 0 0 20px #f57c00;
    border-radius: 2rem;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.box__section__product__5{

    grid-area: pro5;
    background-color: #f57c00;
    box-shadow: 0 0 20px #f57c00;
    border-radius: 2rem;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.box__section__product__6{

    grid-area: pro6;
    background-color: #f57c00;
    box-shadow: 0 0 20px #f57c00;
    border-radius: 2rem;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

/* Fin del Diseño de la Página de Productos */




/* Inicio del Diseño de la Página de Nosotros.html */

.grid-us{

    display: grid;
    width: 100vw;
    height: 100vh;
    grid: 1fr 2fr 1fr / 1fr;
    grid-template-areas: 
    "header"
    "content0"
    "footer";

}

.main__us{

    grid-area: content0;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.box__section__us{

    display: grid;
    align-items: center;
    grid: 1fr 1fr / repeat(3, 1fr); 
    grid-template-areas: 
    "hd con1 con2"
    "hd con3 con4";
    padding: 80px 0;
    
}

.box__section__us__0{

    grid-area: hd;
    background-color: #f57c00;
    box-shadow: 0 0 20px #f57c00;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 330px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-bottom: 50px;

}

.box__section__us__0 img{

    width: 200px;

}

.box__section__us__0 h2{

    font-size: 50px;
    font-family: 'Bebas Neue', cursive;

}

.box__section__us__1{

    grid-area: con1;
    background-color: #ff850b;
    box-shadow: 0 0 20px #f57c00;
    width: 330px;
    height: 400px;

}

.box__section__us__1 img{

    width: 330px;
    height: 250px;
    overflow: hidden;

}

.box__section__us__1 h3{

    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding: 10px 0;
}

.box__section__us__1 p{ 

    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;

}

.box__section__us__2{

    grid-area: con3;
    background-color: #ff850b;
    box-shadow: 0 0 20px #f57c00;
    width: 330px;
    height: 400px;

}

.box__section__us__2 img{

    width: 330px;
    height: 250px;
    overflow: hidden;

}

.box__section__us__2 h3{

    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding: 10px 0;
}

.box__section__us__2 p{ 

    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;

}

.box__section__us__3{

    grid-area: con2;
    background-color: #ff850b;
    box-shadow: 0 0 20px #f57c00;
    border-top-right-radius: 20px;
    width: 330px;
    height: 400px;

}

.box__section__us__3 img{

    width: 330px;
    height: 250px;
    overflow: hidden;

}

.box__section__us__3 h3{

    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding: 10px 0;
}

.box__section__us__3 p{ 

    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;

}

.box__section__us__4{

    grid-area: con4;
    background-color: #ff850b;
    box-shadow: 0 0 20px #f57c00;
    border-bottom-right-radius: 20px;
    width: 330px;
    height: 400px;

}

.box__section__us__4 img{

    width: 330px;
    height: 250px;
    overflow: hidden;

}

.box__section__us__4 h3{

    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding: 10px 0;
}

.box__section__us__4 p{ 

    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;

}

.section__presentation__f__subtitle__a:hover,
.box__section__product__1 a h2:hover,
.box__section__product__2 h2:hover,
.box__section__product__3 h2:hover,
.box__section__product__4 h2:hover,
.box__section__product__5 h2:hover,
.box__section__product__6 h2:hover,
.box__section__product__1 h4:hover,
.box__section__product__2 h4:hover,
.box__section__product__3 h4:hover,
.box__section__product__4 h4:hover,
.box__section__product__5 h4:hover,
.box__section__product__6 h4:hover,
.box__section__us a h3:hover, 
.check__2 label a:hover,
.box__section__info__2__list-a:hover, 
.box__section__info__2__page-a:hover,
.footer__ul--leg li a:hover {

    animation-duration: 1s;
    animation-name: aparecer;
    animation-iteration-count: infinite;

}

@keyframes aparecer {

    0% {

        color: #ffffff;
        opacity: 0;

    }

    100% {

        color: #ffffff;
        opacity: 1;

    }

}

/* Fin del Diseño de la Página de Nosotros */




/* Diseño de la Página de Ubicacion.html */

.grid-location{

    display: grid;
    width: 100vw;
    height: 100vh;
    grid: 1fr 1fr 2fr 1fr/ 1fr;
    grid-template-areas: 
    "header"
    "content0"
    "content1"
    "footer";

}

.section__location{

    grid-area: content0; 
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.box__section__location{

    display: grid;
    grid: 1fr .1fr 1fr / 1fr ;
    grid-template-areas: 
    "tit"
    "."
    "form";

}

.box__section__location__title{

    grid-area: tit;
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    font-family: 'Bebas Neue', cursive;
    padding: 70px 0 20px 0;

}

.box__section__location form{

    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box__section__location form input{

    width: 45rem;
    background: none;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;

}

.box__section__location form i{

    font-size: 3rem;
    cursor: pointer;
    padding-left: 50px;

}

.section__box__location{

    grid-area: content1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;

}

.box__section__box__location{

    display: grid;
    grid: .5fr 2fr / 2fr;
    grid-template-areas: 
    "subtit subtit"
    "iframe location";
    column-gap: 1rem;

}

.box__section__location__subtitle{

    grid-area: subtit;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;

}

.box__section__location__iframe{

    grid-area: iframe;
    display: flex;
    justify-content: flex-start;

}

.box__section__location__img{

    grid-area: location;
    display: flex;
    justify-content: flex-end;

}

.box__section__location__img a img{

    width: 600px;
    height: 450px;

}

/* Fin del Diseño de la Página de Ubicación */




/* Diseño de la Página de Contacto.html */

.grid-contact{

    display: grid;
    width: 100vw;
    height: 100vh;
    grid: 80px 900px 100px / 99%;
    grid-template-areas: 
    "header"
    "content0"
    "footer";

}

.section__contact{

    grid-area: content0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.box__section__contact{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ff850b;
    box-shadow: -1px 0 13px #f57c00;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    width: 750px;
    height: 700px;

}

.box__section__contact__title{

    align-self: center;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    padding: 20px;

}

.box__section__contact__form{

    width: 100%;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;

}

.box__section__contact__form form{

    padding: 30px;

}

.box__section__contact__form form p{

    margin-bottom: 0;

}

.box__section__contact__form form button,
.box__section__contact__form form textarea {

    width: 100%;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #000000;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    margin: 10px 0;
    padding: 5px;
    resize: none;

}

.box__section__contact__form__input{

    width: 100%;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #000000;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    margin: 10px 0;
    padding: 5px;

}

.box__section__contact__form form button{

    background-color: #f56000;
    border: 0;
    padding: 20px;

}

.submit{

    cursor: pointer;

}
.submit:hover{

    background-color: #ff9800;
    border: 1px solid #f56000;
    color: #ffffff;
    transition: .3s;

}

.check__1{

    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;

}

.check__1 input .check__2 input{

    font-size: 6px;

}

.check__1 label, .check__2 label{

    font-size: 18px;

}

.check__2{

    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;

}

.box__section__info{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f57c00;
    box-shadow: 1px 0 13px #f57c00;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 350px;
    height: 700px;

}

.box__section__info__1{

    padding: 10px;

}

.box__section__info__img{

    width: 150px;

}

.box__section__info__title{

    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;

}

.box__section__info__2{

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 0 0 40px 20px;
    font-size: 20px;
    font-family: 'Big Shoulders Display', cursive;
    text-align: justify;

}

.box__section__info__2__title{

    padding: 0 0 10px 0;
    text-align: justify;

}

.box__section__info__2__list-a{

    color: #000000;
    padding-left: 3px;

}

.box__section__info__2__list-a-second{

    padding-left: 8px;

}

.box__section__info__2__page-a{

    color: #000000;
    padding-top: 10px;

}

.box__section__info__2 ul{

    padding: 0;

}

/* Fin del Diseño de la Página de Contacto */




/* Diseño para el Footer de Todas las Páginas */

.footer{

    grid-area: footer;
    background-color: #f57c00;
    box-shadow: 5px 0 10px #c27e18;
    width: 100vw;
    margin-top: auto;
    bottom: 0;
    z-index: 2;

}

.footer__ul--sn{

    display: flex;
    justify-content: center; 
    padding: 30px 0 30px 0;

}

.footer__ul--sn li{

    width: 5%;
    
}

.footer__ul--sn li a i{

    color: #00098a;
    font-size: 2rem;

}

.footer__ul--leg{

    display: flex;
    justify-content: center;
    text-decoration: none;

}

.footer__ul--leg li{

    width: 15%;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.8rem;

}

.footer--leg1, 
.footer--leg2 {

    display: flex;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.3rem;
    justify-content: center;
    margin-bottom: 0;
    padding: 20px 0 0 0;

}

.footer--leg2{

    padding: 0 0 20px 0;
    
}

/* Fin del Diseño del Footer para Todas las Paginas */



/* Media de tablet grande para el Index*/

@media screen and (max-width: 1218px){

    .box__section__product{

        display: grid;
        grid: .5fr 2fr .5fr 2fr .5fr 2fr / repeat(2, 1fr);
        grid-template-areas:
        "tit  tit" 
        "pro1 pro2"
        ".    ."
        "pro3 pro4"
        ".    ."
        "pro5 pro6";
        padding: 50px 0;
        column-gap: 5rem;

    }

    .box__section__box__location{

        display: grid;
        grid: .1fr 1fr 1fr / 2fr;
        grid-template-areas: 
        "subtit"
        "iframe"
        "location";
        row-gap: 1rem;
    
    }

}

@media screen and (max-width: 1000px){

    .header{

        grid-area: header;
        background-color: #f57c00;
    
    }

    .header__title{

        font-size: 1.3rem;

    }

    .nav__ulist__item__a{

        font-size: 1rem;

    }

    .box__section__us__0{

        width: 230px;
        height: 650px;

    }

    .box__section__us__0 img{

        width: 140px;

    }

    .box__section__us__0 h2{

        font-size: 35px;

    }

    .box__section__us__1{
        
        width: 230px;
        height: 325px;

    }

    .box__section__us__1 img,
    .box__section__us__2 img,
    .box__section__us__3 img,
    .box__section__us__4 img {

        width: 230px;
        height: 180px; 

    }

    .box__section__us__1 h3,
    .box__section__us__2 h3,
    .box__section__us__3 h3,
    .box__section__us__4 h3 {

        font-size: 30px;

    }

    .box__section__us__1 p,
    .box__section__us__2 p,
    .box__section__us__3 p,
    .box__section__us__4 p {

        font-size: 15px;

    }

    .box__section__us__2{
        
        width: 230px;
        height: 325px;

    }

    .box__section__us__3{
        
        width: 230px;
        height: 325px;

    }

    .box__section__us__4{
        
        width: 230px;
        height: 325px;

    }

    
    .box__section__location form input{

        width: 30rem;

    }

    .box__section__location form i{

        font-size: 2.5rem;

    }

    .box__section__contact{

        width: 400px;
        height: 600px;

    }

    .box__section__info{

        width: 300px;
        height: 600px;

    }

    .box__section__contact__title{

        font-size: 20px;

    }

    .box__section__contact__form, .box__section__contact__form__input, .check__1 label, .check__2 label{

        font-size: 14px;

    }

    .box__section__contact__form form button,
    .box__section__contact__form form textarea{

        font-size: 14px;
        margin: 10px 0;
        padding: 5px;

    }   

    .footer__ul--sn li{

        width: 8%;

    }

    .footer--leg1, .footer--leg2{

        font-size: 1rem;

    }

}

/* Fin del Media para tablet grande del Index */

/* Media de Ajuste */

@media screen and (max-width: 724px) {

    .nav__ulist__item__a{

        padding: 10px 10px;

    }

    .header__logo{

        width: 4rem;

    }

    .header__nav{

        padding-right: 70px;

    }

    .section__presentation__f h1,
    .section__presentation__2__s h1,
    .section__presentation__3__t h1 {

        font-size: 2.5rem;

    }

    .section__presentation__f h2,
    .section__presentation__2__s h2,
    .section__presentation__3__t h3 {

        font-size: 1.5rem;

    }

    .box__section__product{

        display: grid;
        grid: .5fr 2fr .5fr 2fr .5fr 2fr .5fr 2fr .5fr 2fr .5fr 2fr / 1fr;
        grid-template-areas:
        "tit" 
        "pro1" 
        "."
        "pro2"
        "."
        "pro3" 
        "."
        "pro4"
        "."
        "pro5"
        "." 
        "pro6";
        padding: 50px 0;
        column-gap: 5rem;

    }

    .section__us{

        flex-direction: column;
        align-items: center;

    }

    .box__section__us{

        display: grid;
        grid: 1fr 1fr / 1fr; 
        grid-template-areas: 
        "con1"
        "con2"
        "con3"
        "con4"
        "hd";
        padding: 80px 0;
        
    }

    .box__section__us__0{

        background-color: #ff850b;
        width: 260px;
        height: 300px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 20px;

    }

    .box__section__us__1{

        background-color: #f57c00;
        width: 260px;
        height: 300px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

    }


    .box__section__us__2{

        background-color: #f57c00;
        width: 260px;
        height: 300px;

    }

    .box__section__us__3{

        background-color: #f57c00;
        width: 260px;
        height: 300px;
        border-top-right-radius: 0;

    }


    .box__section__us__4{

        background-color: #f57c00;
        width: 260px;
        height: 300px;
        border-bottom-right-radius: 0;

    }

    .box__section__us__1 img,
    .box__section__us__2 img,
    .box__section__us__3 img,
    .box__section__us__4 img {

        width: 260px;

    }

    .section__contact{

        flex-direction: column;

    }

    .box__section__contact{

        border-top-right-radius: 5%;
        border-bottom-left-radius: 0;
        width: 400px;
        height: 500px;

    }

    .box__section__contact__form, 
    .box__section__contact__form__input, 
    .check__1 label, .check__2 label {

        font-size: 10px;

    }

    .box__section__contact__form form{

        padding-top: 5px;

    }

    .box__section__info{

        flex-direction: column-reverse;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        width: 400px;
        height: 300px;

    }

    .box__section__info__img{

        width: 100px;        

    }

    .box__section__info__title{

        font-size: 25px;

    }

    .box__section__info__2{

        align-self: center;
        font-size: 15px;
        padding-top: 10px;

    }

    .footer__ul--sn li{

        width: 12%;

    }

    .footer__ul--leg li{

        font-size: 25px;

    }

    .footer--leg1, .footer--leg2{

        font-size: .9rem;

    }

}

/* Fin del Media de Ajuste */

/* Media para Tablets/Celulares del Index */

@media screen and (max-width: 600px){

    .nav__ulist{

        z-index: 3;
        
    }

    .nav__btn{

        display: flex;

    }

    .nav__ulist{

        display: flex;
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        top: 80px;
        left: -1350px;
        background-color: #f57c00;
        text-align: center;
        transition: all, .5s;

    }

    .nav__ulist__item{

        display: inline-block;
        margin: 50px 0;
        line-height: 10px;

    }

    .nav__ulist__item__a{

        font-size: 2rem;

    }

    #check-nav:checked ~ .nav__ulist{

        left: 0;

    }

    .header__box--logo h1{

        display: none;

    }

    .header__btn{

        font-size: 1.7rem;

    }

    .grid-presentation{
        
        display: grid;
        grid: 19% 14% 19% 14% 19% 14% 1% / 1fr;
        grid-template-areas: 
        "content_0" 
        "content_1"
        "content_2" 
        "content_3"
        "content_4" 
        "content_5"
        ".";

    }

    .section__presentation{

        grid-area: content_0;
        background-size: 100vw 67%;
        background-attachment: scroll;
        width: 100vw;

    }

    .section__presentation__f{

        grid-area: content_1;
        width: 100vw;

    }

    .section__presentation__2{

        grid-area: content_2;
        background-size: 100vw 67%;
        background-attachment: scroll;
        background-position: 0% 0%;
        width: 100vw;

    }

    .section__presentation__2__s{

        grid-area: content_3;
        width: 100vw;

    }

    .section__presentation__3{

        grid-area: content_4;
        background-size: 100vw 67%;
        background-attachment: scroll;
        width: 100vw;

    }

    .section__presentation__3__t{

        grid-area: content_5;
        width: 100vw;

    }

    .box__section__location__title{

        font-size: 2rem;

    }

    .box__section__location form input{

        width: 20rem;
        font-size: 1.9rem;

    }

    .box__section__location form i{

        font-size: 2rem;
        padding-left: 20px;

    }

    .box__section__box__location{

        flex-direction: column;

    }

    .box__section__location__subtitle{

        font-size: 1.5rem;

    }

    .location-iframe{

        width: 350px;
        height: 300px;

    }

    .box__section__location__img a img{

        width: 350px;
        height: 250px;

    }

    .footer__ul--sn li{

        width: 14%;

    }

    .footer__ul--leg li{

        font-size: .9rem;

    }

    .footer--leg1, .footer--leg2{

        font-size: .6rem;

    }

}    

/* Para el nav en forma horizontal */

@media screen and (max-width: 600px) and (orientation: landscape) {

    .nav__ulist__item{

        margin: 50px 0;

    }

    .nav__ulist{

        overflow: scroll;
        height: calc(100% - 80px);

    }

}

/* Fin del Media de Celular para del Index */




/* Animaciones */

.focus-in-contract-bck {
	-webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 5px;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
@keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 5px;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
@keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

.flip-in-diag-1-tr {
	-webkit-animation: flip-in-diag-1-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-diag-1-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes flip-in-diag-1-tr {
    0% {
      -webkit-transform: rotate3d(1, 1, 0, -80deg);
              transform: rotate3d(1, 1, 0, -80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
              transform: rotate3d(1, 1, 0, 0deg);
      opacity: 1;
    }
  }
@keyframes flip-in-diag-1-tr {
    0% {
      -webkit-transform: rotate3d(1, 1, 0, -80deg);
              transform: rotate3d(1, 1, 0, -80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
              transform: rotate3d(1, 1, 0, 0deg);
      opacity: 1;
    }
  }
  
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

.shadow-drop-2-center:hover {
	-webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
@keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }

.heartbeat:hover {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
@keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
.slit-in-diagonal-1 {
	-webkit-animation: slit-in-diagonal-1 0.45s ease-out both;
	        animation: slit-in-diagonal-1 0.45s ease-out both;
}

@-webkit-keyframes slit-in-diagonal-1 {
    0% {
      -webkit-transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
              transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
              transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotate3d(1, 1, 0, 0);
              transform: translateZ(0) rotate3d(1, 1, 0, 0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
@keyframes slit-in-diagonal-1 {
    0% {
      -webkit-transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
              transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
              transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotate3d(1, 1, 0, 0);
              transform: translateZ(0) rotate3d(1, 1, 0, 0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

.tilt-in-left-1 {
	-webkit-animation: tilt-in-left-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-left-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilt-in-left-1 {
    0% {
      -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
              transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
              transform: rotateX(0deg) translateX(0) skewX(0deg);
      opacity: 1;
    }
  }
@keyframes tilt-in-left-1 {
    0% {
      -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
              transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
              transform: rotateX(0deg) translateX(0) skewX(0deg);
      opacity: 1;
    }
  }

.tilt-in-right-1 {
	-webkit-animation: tilt-in-right-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-right-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilt-in-right-1 {
    0% {
      -webkit-transform: rotateX(-30deg) translateX(300px) skewX(30deg);
              transform: rotateX(-30deg) translateX(300px) skewX(30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
              transform: rotateX(0deg) translateX(0) skewX(0deg);
      opacity: 1;
    }
  }
@keyframes tilt-in-right-1 {
    0% {
      -webkit-transform: rotateX(-30deg) translateX(300px) skewX(30deg);
              transform: rotateX(-30deg) translateX(300px) skewX(30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
              transform: rotateX(0deg) translateX(0) skewX(0deg);
      opacity: 1;
    }
  }
  
.tilt-in-top-1 {
	-webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
@keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  
.tilt-in-bottom-1 {
	-webkit-animation: tilt-in-bottom-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-bottom-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilt-in-bottom-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
@keyframes tilt-in-bottom-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(300px) skewY(-30deg);
              transform: rotateY(30deg) translateY(300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
              transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  